.form {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fcfafa;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}


input,
fieldset {
    outline: 0;
    border-radius: 4px;
    background-color: transparent;
    text-shadow: 1px 1px 0 #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(184, 186, 191);
}

input:hover,
fieldset:hover,
fieldset:focus {
    border: 2px solid rgb(0, 0, 0);
}

input:focus {
    border: 2px solid rgb(20, 8, 248);
}

fieldset {     
    margin: 10px 0px;
    height: 78px;
}

button {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #2b3cf0;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
}

button:focus,
button:hover {
    background-color: #4e66e9;
}

button:disabled {
    background-color: #cfcfcf;
    animation: none;
}